.DS_Store
.build/
Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.idea
deployment/open-source/
deployment/global-s3-assets/
deployment/regional-s3-assets/
.vscode/
